name: Build ticker-calculator
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  # Manual invocation
  workflow_dispatch:
jobs:
  build_ticker-calculator:
    if: github.repository_owner == 'guardian'
    name: Build ticker-calculator
    runs-on: ubuntu-latest
    permissions:
      id-token: write # needed by actions-riff-raff
      pull-requests: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: build
        run: |
          npm install -g yarn
          yarn install
          yarn lint
          yarn run build

          cp package.json target
          pushd target
          yarn install --production
          zip -r ticker-calculator ./*
          popd

      - name: Build cdk
        working-directory: ./cdk
        run: |
          npm install -g yarn
          yarn install
          yarn lint
          yarn test
          yarn synth

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1

      - name: riff-raff
        uses: guardian/actions-riff-raff@v2
        with:
          app: ticker-calculator
          config: |
            stacks:
              - support
            regions:
              - eu-west-1
            allowedStages:
              - CODE
              - PROD
            deployments:
              ticker-calculator-cloudformation:
                type: cloud-formation
                app: ticker-calculator
                parameters:
                  cloudFormationStackName: ticker-calculator
                  templateStagePaths:
                    CODE: TickerCalculator-CODE.template.json
                    PROD: TickerCalculator-PROD.template.json
                  cloudFormationStackByTags: false
                  prependStackToCloudFormationStackName: true

              ticker-calculator:
                type: aws-lambda
                parameters:
                  prefixStack: false
                  fileName: ticker-calculator.zip
                  functionNames:
                    - ticker-calculator-
          contentDirectories: |
            ticker-calculator:
              - target/ticker-calculator.zip
            ticker-calculator-cloudformation:
              - cdk/cdk.out/TickerCalculator-CODE.template.json
              - cdk/cdk.out/TickerCalculator-PROD.template.json
